@font-face {
    font-family: "chassam";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/chassam/chassam.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/chassam/chassam.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/chassam/chassam.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/chassam/chassam.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/chassam/chassam.ttf") format("truetype");
    font-display: swap;
} 
.chassam {
    font-family: "chassam";
}